<%= link_to "back", root_path %>
<div class="board__container">
  <div class="board__grid">
    <%= render BoardRowComponent.with_collection(@layout) %>
  </div>
  <div class="board__info">
    <div> <h1>Board Name: <%= @board.name %></h1></div>
    <div>Created at: <%= @board.created_at.strftime("%B %e, %Y") %></div>
    <div>Author: <%= @board.email %></div>
  </div>
</div>
